RewriteEngine On
RewriteBase / 
RewriteCond %{REQUEST_FILENAME}.html -f 
RewriteRule ^(([^/]+/)*[^./]+)$ /$1.html 
RewriteCond %{REQUEST_FILENAME}.htm -f 
RewriteRule ^(([^/]+/)*[^./]+)$ /$1.htm 
RewriteCond %{REQUEST_FILENAME}.gif -f 
RewriteRule ^(([^/]+/)*[^./]+)$ /$1.gif 
RewriteCond %{REQUEST_FILENAME}.jpg -f 
RewriteRule ^(([^/]+/)*[^./]+)$ /$1.jpg 
RewriteCond %{REQUEST_FILENAME}.png -f 
RewriteRule ^(([^/]+/)*[^./]+)$ /$1.png 
RewriteCond %{REQUEST_FILENAME}.php -f 
RewriteRule ^(([^/]+/)*[^./]+)$ /$1.php 
RewriteCond %{REQUEST_FILENAME}.pl -f 
RewriteRule ^(([^/]+/)*[^./]+)$ /$1.pl
