.upIcon{
	transition: all .2s ease-in-out;
}

.upIcon:hover{
 

}

.blurSub{
	transition: all .2s ease-in-out;
}

.upIcon:hover + .blurSub{
	color: transparent;
	text-shadow: 0 0 2px rgba(0,0,0,0.5);

}

.info:hover{
	cursor: default;
}

<<<<<<< HEAD
.active{
    transition: all .2s ease-in-out;
    background: #2d2d86;
}
.active:hover{
    /* Brighten on Hover
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    */
}
=======
.footer-dark{
	background-color: #e6e6e6;
}
>>>>>>> refs/remotes/origin/master
